{#**
* NOTICE OF LICENSE
*
* This source file is subject to the Academic Free License (AFL 3.0)
* that is bundled with this package in the file LICENSE.txt.
* It is also available through the world-wide-web at this URL:
* http://opensource.org/licenses/afl-3.0.php
*
*  @author    Karlis Suvi
*  @copyright 2022 Karlis Suvi
*  @license   http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
*#}

{% form_theme attributesForm 'PrestaShopBundle:Admin/TwigTemplateForm:prestashop_ui_kit.html.twig' %}

<div id="combinationeditor-manager" class="mt-3">
  <h2>{{ 'Attributes'|trans({}, 'Admin.Catalog.Feature') }}</h2>
  <p class="subtitle">{{ 'Use "Save attributes" button for saving, standard product save button doesn\'t save attributes.'|trans({}, 'Modules.Combinationeditor.Help') }}</p>
  {{ form_errors(attributesForm.attributes) }}
  <ul class="attriubtesCollection nostyle" data-prototype="{% filter escape %}{{ include('@Modules/combinationeditor/views/templates/admin/attribute.html.twig', {'form': attributesForm.attributes.vars.prototype}) }}{% endfilter %}">
    {% for field in attributesForm.attributes %}
      {{ include('@Modules/combinationeditor/views/templates/admin/attribute.html.twig', {'form': field}) }}
    {% endfor %}
  </ul>

  <a href="#" class="btn btn-outline-secondary" id="combinationeditor-add-attribute">
    <i class="material-icons">add_circle</i>
    {{ 'Add an attribute'|trans({}, 'Modules.Combinationeditor.Feature') }}
  </a>

  <a href="#" class="btn btn-primary" id="combinationeditor-save">
    {{ 'Save attributes'|trans({}, 'Modules.Combinationeditor.Feature') }}
  </a>
</div>
