{#**
* NOTICE OF LICENSE
*
* This source file is subject to the Academic Free License (AFL 3.0)
* that is bundled with this package in the file LICENSE.txt.
* It is also available through the world-wide-web at this URL:
* http://opensource.org/licenses/afl-3.0.php
*
*  @author    Karlis Suvi
*  @copyright 2022 Karlis Suvi
*  @license   http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
*#}

{% form_theme form 'PrestaShopBundle:Admin/TwigTemplateForm:prestashop_ui_kit.html.twig' %}

<div class="row">
  <div class="col-md-3">
    <fieldset class="form-group">
      <label class="form-control-label">{{ 'Attribute group'|trans({}, 'Admin.Catalog.Feature') }}</label>
      {{ form_errors(form.attribute_group) }}
      {{ form_widget(form.attribute_group) }}
    </fieldset>
  </div>

  <div class="col-md-3">
    <fieldset class="form-group">
      <label class="form-control-label">{{ 'Attribute'|trans({}, 'Admin.Global') }}</label>
      {{ form_errors(form.attribute) }}
      {{ form_widget(form.attribute) }}
    </fieldset>
  </div>

  <div class="col-md-1">
    <fieldset class="form-group">
      <a class="btn btn-block delete"><i class="material-icons">delete</i></a>
    </fieldset>
  </div>
</div>
